* {
  box-sizing: border-box;
}

.search-area {
  background-color: #0178c8;
  padding: 10px;
  box-shadow: 0px 1px 9px 0px rgba(66, 68, 90, 1);
}

.search-form {
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

input[name='searchQuery'] {
  padding: 8px;
  width: 20%;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
  background: #f1f1f1;
}

.button-submit {
  padding: 9px;
  background: #dbdfe1;
  color: gray;
  border: 1px solid grey;
  border-radius: 0 5px 5px 0;
  border-left: none;
  cursor: pointer;
}

.button-submit:hover {
  background: #aab0b4;
  color: black;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.photo-card {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 0 0 5px 5px;
}
.photo-card img {
  width: 300px;
  max-height: 180px;
}

.info {
  display: flex;
  justify-content: space-around;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
